<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Quản lý Sản phẩm</title>
</head>
<body>
<h1>Danh sách sản phẩm</h1>

<table>
    <thead>
    <tr>
        <th>Mã sản phẩm</th>
        <th>Tên sản phẩm</th>
        <th>Giá</th>
        <th>Thao tác</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="item : ${items}">
        <td th:text="${item.maXe}"></td>
        <td th:text="${item.tenXe}"></td>
        <td th:text="${item.giaXe}"></td>
        <td>
            <a th:href="@{/admin/products/edit/{maXe}(maXe=${item.maXe})}">Sửa</a>
            <a th:href="@{/admin/products/delete/{maXe}(maXe=${item.maXe})}" onclick="return confirm('Bạn có chắc chắn muốn xóa sản phẩm này?');">Xóa</a>
        </td>
    </tr>
    </tbody>
</table>
</div>
</body>
</html>
