<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{kiosk-bike/index.html}">

<body>
<main layout:fragment="index">
    <!-- Checkout Modal -->
    <div class="modal fade" id="ic-success-cart" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="container modal-content">
                <div class="row ic-success-cart-content">
                    <div class="col-12">
                        <h2 class="ic-success-message">Xác nhận</h2>
                    </div>
                    <div class="col-lg-6 col-md-6 col-12">
                        <div class="ic-product-thumbnail">
                            <img th:src="@{/assets/images/anhSanPham/__${motorbike.anhXe[0]}__}" alt="Ảnh xe">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-12">
                        <div class="ic-product-content-inner">
                            <h3 class="ic-product-item-title"><a href="shop-single.html">[[${motorbike.tenXe}]]</a>
                            </h3>
                            <h4 class="ic-product-item-price">[[${#numbers.formatDecimal(motorbike.giaXe, 1, 'COMMA',0,'POINT')+' đ'}]]</h4>
                           <input hidden id="tienViet" th:value="${motorbike.giaXe}"/>
                            <div class="ic-product-short-specification">
                                <ul class="ic-specification-list">
                                    <li><span>Họ tên:</span>Nguyễn Tấn Phát</li>
<!--                                    <li><span>SKU:</span>327038</li>-->
<!--                                    <li><span>Shipping Charge:</span>$200</li>-->
                                    <li class="ic-total-cost"></li>
                                </ul>
                            </div>
                            <div class="ic-btn-group">
                                <button class="ic-btn ic-custom-btn-rvs" id="thanhToan">Thanh toán</button>
                                <button class="ic-btn ic-custom-btn-rvs" id="connectToWallet">Kết nối ví</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Checkout section start here-->
    <section class="ic-checkout ic-padding-120">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <form class="ic-checkout-form" action="#" method="post">
                        <h2 class="ic-shipping-title mb-4">Billing Details</h2>
                        <p>Nhận đơn đặt hàng của bạn được gửi đến địa chỉ bạn đã chọn hoặc sắp xếp việc nhận hàng tại điểm thu gom hoặc cửa hàng Sportfirst</p>
                        <div class="ic-form-group w-100">
                            <input type="text" name="name" placeholder="Họ và tên" required>
                        </div>
                        <div class="ic-form-group w-100">
                            <input type="text" name="address" placeholder="Mã số nhà*" required>
                        </div>
                        <div class="ic-form-row">
                            <div class="col-lg-12 col-md-12 col-12">
                                <div class="ic-event-ticket">
                                    <div class="ic-select-dropdown" id="tinh" >
                                        <div class="ic-select-inner">
                                            <span>Tỉnh/Thành phố*</span>
                                            <i class="icofont-simple-down" ></i>
                                        </div>
                                        <ul class="ic-select-dropdown-menu" id="option-tinh">

                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-12">
                                <div class="ic-event-ticket">
                                    <div class="ic-select-dropdown" id="quan">
                                        <div class="ic-select-inner">
                                            <span>Quận/Huyện*</span>
                                            <i class="icofont-simple-down"></i>
                                        </div>
                                        <ul class="ic-select-dropdown-menu" id="option-quan">

                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-12">
                                <div class="ic-event-ticket">
                                    <div class="ic-select-dropdown" id="phuong">
                                        <div class="ic-select-inner">
                                            <span>Phường/Xã*</span>
                                            <i class="icofont-simple-down" ></i>
                                        </div>
                                        <ul class="ic-select-dropdown-menu" id="option-phuong">

                                        </ul>
                                    </div>
                                </div>
                            </div>


                        </div>
                        <div class="ic-form-row">
                            <div class="col-lg-6 col-md-6 col-12">
                                <input type="email" id="ic-email" name="email" placeholder="Email*" required>
                            </div>
                            <div class="col-lg-6 col-md-6 col-12">
                                <input type="text" id="ic-phone" name="phone" placeholder="Phone*" required>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-lg-6 col-md-12 ">
                    <div class="order-summury p-3 p-lg-5" th:object="${motorbike}">





                        <div class="mb-7">
                            <h3 class="mb-4">Your Order</h3>
                            <ul class="list-unstyled">
                                <li class="mb-3 border-bottom pb-3 d-flex"><span class="mr-auto">[[${motorbike.tenXe}]]</span></li>
<!--                                <li class="mb-3 border-bottom pb-3 d-flex"><span class="mr-auto"> Shipping: </span> <span>[[${#numbers.formatDecimal(motorbike.giaXe, 1, 'COMMA',0,'POINT')}]]</span></li>-->
<!--                                <li class="mb-3 border-bottom pb-3 d-flex"><span class="mr-auto"> Subtotal </span> <span>$6,820.00</span></li>-->
                                <li class="d-flex"><span class="mr-auto"><strong class="cart-total"> Total :</strong></span>  <strong class="cart-total">[[${#numbers.formatDecimal(motorbike.giaXe, 1, 'COMMA',0,'POINT')+' đ'}]]</strong></li>
                            </ul>
                        </div>
                        <div class="cart-detail my-5">
                            <h5 class="mb-3">Payment Method</h5>
                            <div class="form-check form-group">
                                <input class="form-check-input" checked type="radio" name="price-radio" id="radioShop">
                                <label class="form-check-label" for="radioShop">Nhận xe tại Shop</label>
                            </div>
                            <div class="form-check form-group">
                                <input class="form-check-input" type="radio" name="price-radio" id="radioMomo">
                                <label class="form-check-label" for="radioMomo">Momo</label>
                            </div>
                            <div class="form-check form-group">
                                <input class="form-check-input" type="radio" name="price-radio" id="radioSolana">
                                <label class="form-check-label" for="radioSolana">Solana</label>
                            </div>
                        </div>
                        <button id="conformCheckout"  class=" ic-custom-btn-rvs secondary-hover btn-block" >Conform Checkout</button>
                    </div>
                </div>
            </div>
        </div>

        <script src="https://esgoo.net/scripts/jquery.js"></script>
        <script src="/assets/scripts/checkout.js"></script>
    </section>
    <!-- Checkout section end here-->
</main>




</body>

</html>
